@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');


:root {
    --primary: #E00911;
    --secondary: #312C7F;
    --white: #FFFFFF;
    --black: #000000;
    --poppins: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    font-family: var(--poppins);
    margin: 0;
    padding: 0;
}

.custom-bg-primary {
    background-color: var(--primary);
}

.custom-bg-secondary {
    background-color: var(--secondary);
}

.custom-bg-white {
    background-color: var(--white);
}

.custom-text-primary {
    color: var(--primary);
}

.custom-text-secondary {
    color: var(--secondary);
}

.custom-text-white {
    color: var(--white);
}

.custom-border-primary {
    border-color: var(--primary);
}

.font-poppins {
    font-family: var(--poppins);
}

header {
    display: flex;
    /* padding: 16px 150px; */
    justify-content: space-between;
    /* align-items: center;
    align-self: stretch; */
}

.top-logo {
    width: 110px;
    height: 56px;
}

marquee {
    color: var(--Primary, #E00911);
    font-family: var(--poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.top-info {
    display: flex;
    gap: 16px;
}

.top-info .logo {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--secondary);
    color: var(--white)
}

.navbar .navbar-toggler{
    border: none;
    outline: none;  
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("../img/icon/humbergur.svg");
}

.nav-link {
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--white);
    transition: width 0.7s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: var(--white);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin-right: 10px;
    margin-left: 10px;
}

.dropdown-item {
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
}
.dropdown-item:hover {
    background-color: var(--secondary);
    color: var(--white);
    opacity: 0.7;
}

.hero {
    padding: 40px 150px;
}

.hero .hero-text h1 {
    font-family: "Helvetica Neue";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    /* 166.667% */
}

.hero .hero-text p {
    color: var(--Black, #292929);
    font-family: var(--poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    gap: 32px;
}

.hero .hero-text button {
    border-radius: 8px;
    background: var(--primary, );
    display: flex;
    height: 58px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--white);
}

.hero .hero-text button:hover {
    background: var(--secondary, );
    color: var(--white);
}

.hero .hero-text button i {
    font-size: 24px;
}

.service {
    padding: 6 0px 150px;
    margin-bottom: 40px;
    margin-top: 60px;
}

.title {
    color: var(--primary);
    font-family: var(--poppins);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.slogan {
    color: var(--Black, #292929);
    font-family: var(--poppins);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}

.description {
    color: #687387;
    font-family: var(--poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 700px;

}

.service .card {
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
    cursor: pointer;
}

.service .card .card-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.service .card:hover {
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 255, 1);
    transition: 0.5s;
}

.service .card .card-info {
    padding: 16px;
}

.service .card .card-body .card-title {
    color: var(--secondary);
    font-family: var(--poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.service .card .card-body .card-text {
    color: var(--Gray, #687387);
    font-family: var(--poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.service .card .card-body button {
    color: var(--primary) !important;
    font-family: var(--poppins);
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.service .card .card-body button:hover {
    background-color: var(--secondary);
    color: var(--white) !important;
}

.service .text-center .btn {
    border-radius: 8px;
    border: 1px solid var(--primary);
    padding: 16px 32px;
}

.service .text-center .btn:hover {
    background-color: var(--secondary);
    color: var(--white) !important;
    border: 1px solid var(--secondary);
}

.whatwedo {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 40px;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("/img/whatwedo/whatwedo.png") lightgray 50% / cover no-repeat;
}

.whatwedo .title {
    color: var(--white, #FFF);
    text-align: center;
    font-family: var(--poppins);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 40px;
}

.whatwedo .card {
    border-radius: 16px;
    background: rgba(245, 245, 245, 0.20);
    backdrop-filter: blur(10px);
    color: var(--white);
    display: flex;
    padding: 24px !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px !important;
}

.whatwedo .card .card-info .card-title {
    font-family: var(--poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.whatwedo .card .card-info .card-text {
    color: #F6F7F9;
    font-family: var(--poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.contact {
    margin-bottom: 40px;
}

.contact .left-content {
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%), url("/img/contact/contact.png") lightgray 50% / cover no-repeat;
    padding: 150px 0px 20px 20px;
}

.contact .left-content .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    left: 24px;
    bottom: 24px;
}

.contact .left-content .content .content-list {
    padding: 0px;
    display: flex;
}

.contact .left-content .content .content-list .content-text {
    padding: 5px 20px;
}

.contact .left-content .content .content-list .title-text {
    color: var(--white, #FFF);
    font-family: var(--poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.contact .left-content .content .content-list .description-text {
    color: var(--white, #FFF);
    font-family: var(--poppins);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.contact .left-content .content .content-list .icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--secondary, #312C7F);
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact .right-content {
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    background: #FFFFFF;
    padding: 0px 40px;
}

.contact .right-content .form-label {
    color: var(--black, #292929);
    font-family: var(--poppins);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 16px;
}

.contact .right-content .form-control {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--secondary, #312C7F);
    background: var(--white, #FFF);
}

.contact .right-content .btn:hover{
    background-color: var(--secondary);
    color: white;
}

.testimonial .testimonial-item {
    border-radius: 8px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.testimonial .testimonial-item .item-user {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.testimonial .testimonial-item .item-text p {
    font-family: var(--poppins);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}

.testimonial .testimonial-item .item-text .qoute-img {
    filter: brightness(0) saturate(100%);
}



.footer {
    background: url("/img/footer.png") lightgray 10% / cover no-repeat;
    padding: 8px;
}

.footer .footer-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.footer .footer-text p {
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
}

.footer .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.footer .footer-link a {
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
    text-decoration: none;
    /* 150% */
}

.footer .footer-share {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.footer .footer-share img {
    width: 32px;
    height: 32px;
}
.footer .footer-copyright{
    display: flex;
    padding: 24px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-top: 1px solid var(--gray, #687387);
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .hero {
        padding: 1px 10px;
    }

    .hero .hero-text h1 {
        color: var(--secondary, #312C7F);
        font-family: "Helvetica Neue";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    .hero .hero-text p {
        color: var(--black, #292929);
        font-family: var(--poppins);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

    .hero .hero-text button {
        border-radius: 8px;
        background: var(--primary, );
        display: flex;
        height: 48px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color: var(--white);
    }

    .hero .hero-text button:hover {
        background: var(--secondary, );
        color: var(--white);
    }

    .hero .hero-text button i {
        font-size: 24px;
    }

    .service {
        padding: 6 0px 150px;
        margin-bottom: 40px;
        margin-top: 60px;
    }
    
    .title {
        color: var(--primary);
        font-family: var(--poppins);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
    }
    
    .slogan {
        color: var(--Black, #292929);
        font-family: var(--poppins);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        text-align: center;
    }
    
    .description {
        color: #687387;
        font-family: var(--poppins);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        max-width: 700px;
    
    }
    
    .service .card {
        border-radius: 8px;
        box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
        cursor: pointer;
    }
    
    .service .card .card-img img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }
    
    .service .card:hover {
        box-shadow: 0px 8px 16px 0px rgba(171, 190, 255, 1);
        transition: 0.5s;
    }
    
    .service .card .card-info {
        padding: 16px;
    }
    
    .service .card .card-body .card-title {
        color: var(--secondary);
        font-family: var(--poppins);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }
    
    .service .card .card-body .card-text {
        color: var(--Gray, #687387);
        font-family: var(--poppins);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    
    .service .card .card-body button {
        color: var(--primary) !important;
        font-family: var(--poppins);
        font-size: 16px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    
    .service .card .card-body button:hover {
        background-color: var(--secondary);
        color: var(--white) !important;
    }
    
    .service .text-center .btn {
        border-radius: 8px;
        border: 1px solid var(--primary);
        padding: 16px 32px;
    }
    
    .service .text-center .btn:hover {
        background-color: var(--secondary);
        color: var(--white) !important;
        border: 1px solid var(--secondary);
    }

    .whatwedo {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 40px 20px;
        border-radius: 8px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("/img/whatwedo/whatwedo.png") lightgray 50% / cover no-repeat;
    }
    
    .whatwedo .title {
        color: var(--white, #FFF);
        text-align: center;
        font-family: var(--poppins);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        padding-bottom: 40px;
    }
    
    .whatwedo .card {
        border-radius: 16px;
    }
    
    .whatwedo .card .card-info .card-title {
        font-family: var(--poppins);
    }
    
    .whatwedo .card .card-info .card-text {
        color: #F6F7F9;
    }

    .contact {
        margin-bottom: 40px;
    }
    
    .contact .left-content {
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 8px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%), url("/img/contact/contact.png") lightgray 50% / cover no-repeat;
        padding: 150px 0px 20px 20px;
    }
    
    .contact .left-content .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        left: 24px;
        bottom: 24px;
    }
    
    .contact .left-content .content .content-list {
        padding: 0px;
        display: flex;
    }
    
    .contact .left-content .content .content-list .content-text {
        padding: 5px 20px;
    }
    
    .contact .left-content .content .content-list .title-text {
        color: var(--white, #FFF);
        font-family: var(--poppins);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
    }
    
    .contact .left-content .content .content-list .description-text {
        color: var(--white, #FFF);
        font-family: var(--poppins);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    
    .contact .left-content .content .content-list .icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        border-radius: 50px;
        background: var(--secondary, #312C7F);
        display: flex;
        width: 48px;
        height: 48px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .contact .right-content {
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 8px;
        background: #FFFFFF;
        padding: 0px 40px;
        margin-top: 20px;
    }
    
    .contact .right-content .form-label {
        color: var(--black, #292929);
        font-family: var(--poppins);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 16px;
    }
    
    .contact .right-content .form-control {
        display: flex;
        padding: 16px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid var(--secondary, #312C7F);
        background: var(--white, #FFF);
    }

    .footer .footer-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-top: 20px;
    }
    
    .footer .footer-text p {
        font-size: 16px;
        font-style: normal;
        font-weight: 200;
        line-height: 24px;
    }
    
    .footer .footer-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
    }
    
    .footer .footer-link a {
        font-size: 16px;
        font-style: normal;
        font-weight: 200;
        line-height: 24px;
        text-decoration: none;
        /* 150% */
    }
    
    .footer .footer-share {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }
    
    .footer .footer-share img {
        width: 32px;
        height: 32px;
    }
    .footer .footer-copyright{
        /* flex: 1 0 0; */
        display: block;
        color: #F6F7F9;
        text-align: center;
        font-family: var(--poppins);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 166.667% */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}